@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #2563eb;
  --color-secondary: #f59e0b;
  --color-dark: #1f2937;
}

@theme {
  --font-sans: "Inter", sans-serif;
}
